<?xml version="1.0" encoding="utf-8"?>
<!--
/*
 * Copyright (C) 2010-2017 Cyril Deguet
 *
 * Licensed under the Apache License, Version 2.0 (the "License");
 * you may not use this file except in compliance with the License.
 * You may obtain a copy of the License at
 *
 *      http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software
 * distributed under the License is distributed on an "AS IS" BASIS,
 * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 * See the License for the specific language governing permissions and
 * limitations under the License.
 */
-->
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    android:versionCode="5300" android:versionName="4.21.0-beta1"
	package="com.dexilog.smartkeyboard">

	<supports-screens android:anyDensity="true" />

    <uses-sdk 
        android:minSdkVersion="8" 
        android:targetSdkVersion="21" />
	

	<uses-permission android:name="android.permission.READ_USER_DICTIONARY"></uses-permission>
	<uses-permission android:name="android.permission.VIBRATE"></uses-permission>
	<uses-permission android:name="android.permission.READ_CONTACTS"></uses-permission>
	<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
	<uses-permission android:name="android.permission.RECORD_AUDIO" />

    <uses-permission android:name="android.permission.READ_PRIVILEGED_PHONE_STATE"/>
    <uses-permission android:name="android.permission.RECORD_AUDIO"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE"/>
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>
    <uses-permission android:name="android.permission.START_ACTIVITIES_FROM_BACKGROUND"/>
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW"/>
    <uses-permission android:name="android.permission.INTERNAL_SYSTEM_WINDOW"/>
    <uses-permission android:name="android.permission.NETWORK_SETTINGS"/>
    <uses-permission android:name="android.permission.MANAGE_MEDIA_PROJECTION"/>
    <uses-permission android:name="android.permission.CAPTURE_AUDIO_OUTPUT"/>
    <uses-permission android:name="android.permission.CAPTURE_VIDEO_OUTPUT"/>
    <uses-permission android:name="com.pvr.vrdisplay.permission.SHOW_TOAST"/>
    <uses-permission android:name="com.picovr.guide.permission"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.CHANGE_WIFI_MULTICAST_STATE"/>
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE"/>

	<uses-feature android:name="android.hardware.microphone" android:required="false" />

	<application android:icon="@drawable/icon" android:label="@string/app_name"
        android:theme="@style/AppTheme" android:debuggable="true">
		<meta-data android:name="pvr.vrshell.mode" android:value="1"/>
		<meta-data android:name="pvr.app.type" android:value="2d"/>
		<service android:name="com.dexilog.smartkeyboard.SmartKeyboard" android:permission="android.permission.BIND_ACCESSIBILITY_SERVICE">
			<intent-filter>
				<action android:name="android.accessibilityservice.AccessibilityService" />
			</intent-filter>
			<meta-data android:name="android.accessibilityservice" android:resource="@xml/method_acc" />
		</service>
		<activity android:name="com.dexilog.smartkeyboard.Settings" android:label="@string/keyboard_settings">
            <meta-data android:name="pvr.vrshell.mode" android:value="1"/>
            <meta-data android:name="com.picovr.type" android:value="2D"/>
            
            <layout android:defaultHeight="600.0dip" android:defaultWidth="900.0dip"/>
            <meta-data android:name="pico.vr.position" android:value="near"/>
            <meta-data android:name="pvr.app.type" android:value="2d"/>
            <intent-filter>
				<action android:name="android.intent.action.MAIN" />
				<category android:name="android.intent.category.LAUNCHER" />
			</intent-filter>
		</activity>
		<activity android:name="com.dexilog.smartkeyboard.SetupActivity"
			android:label="@string/app_name"
			android:launchMode="singleTask"
			android:noHistory="true">
            <meta-data android:name="pvr.vrshell.mode" android:value="1"/>
            <meta-data android:name="com.picovr.type" android:value="2D"/>
            <layout android:defaultHeight="600.0dip" android:defaultWidth="900.0dip"/>
            <meta-data android:name="pico.vr.position" android:value="near"/>
			<intent-filter>
				<action android:name="android.intent.action.MAIN" />
				<category android:name="android.intent.category.LAUNCHER" />
			</intent-filter>
		</activity>
		<activity android:name="com.dexilog.smartkeyboard.SetupWizardActivity"
			android:label="@string/app_name"
			android:clearTaskOnLaunch="true">
            <meta-data android:name="pvr.vrshell.mode" android:value="1"/>
            <meta-data android:name="com.picovr.type" android:value="2D"/>
            <layout android:defaultHeight="600.0dip" android:defaultWidth="900.0dip"/>
            <meta-data android:name="pico.vr.position" android:value="near"/>
			<intent-filter>
				<action android:name="android.intent.action.MAIN" />
			</intent-filter>
		</activity>
		<activity android:name="com.dexilog.smartkeyboard.AutoTextEditor" android:label="@string/custom_autotext">
			<intent-filter>
				<action android:name="android.intent.action.MAIN" />
			</intent-filter>
		</activity>
		<activity android:name="com.dexilog.smartkeyboard.UserDictionaryEditor" android:label="@string/user_dictionary">
			<intent-filter>
				<action android:name="android.intent.action.MAIN" />
			</intent-filter>
		</activity>
		<activity android:name=".ui.SmileyEditor" android:label="@string/smiley_editor_title">
			<intent-filter>
				<action android:name="android.intent.action.MAIN" />
			</intent-filter>
		</activity>
		<activity android:name=".ui.DomainEditor" android:label="@string/domain_editor_title">
			<intent-filter>
				<action android:name="android.intent.action.MAIN" />
			</intent-filter>
		</activity>
		<activity android:name="com.dexilog.smartkeyboard.Calibration" android:label="@string/calibration">
			<intent-filter>
				<action android:name="android.intent.action.MAIN" />
			</intent-filter>
		</activity>
		<activity android:name="com.dexilog.smartkeyboard.SkinList" android:label="@string/skin_selection">
			<intent-filter>
				<action android:name="android.intent.action.MAIN" />
			</intent-filter>
		</activity>
		<activity android:name=".settings.PermissionActivity"
			android:label="@string/app_name">
			<intent-filter>
				<action android:name="android.intent.action.MAIN" />
			</intent-filter>
		</activity>
		<provider android:name="com.dexilog.smartkeyboard.AutoTextProvider"
			android:authorities="${applicationId}.autotextprovider" />
		<provider android:name="com.dexilog.smartkeyboard.UserDictionaryProvider"
			android:authorities="${applicationId}.userdicprovider" />
		<provider android:name="com.dexilog.smartkeyboard.MyBackupPro"
			android:authorities="${applicationId}.MyBackupPro" />

		<!-- for voice -->
		<service android:name="com.google.android.voiceime.ServiceHelper"/>
		<activity
			android:name="com.google.android.voiceime.ActivityHelper"
			android:theme="@android:style/Theme.Translucent.NoTitleBar"
			android:excludeFromRecents="true"
			android:windowSoftInputMode="stateAlwaysHidden"
			android:finishOnTaskLaunch="true"
			android:clearTaskOnLaunch="true"
			android:launchMode="singleInstance"
			android:configChanges="keyboard|keyboardHidden|navigation|orientation"/>
        <activity android:resizeableActivity="true" android:excludeFromRecents="true" android:exported="true" android:label="@string/app_name" android:launchMode="singleTask" android:name="com.dexilog.smartkeyboard.PicoActivity" android:screenOrientation="landscape" android:theme="@android:style/Theme.Translucent.NoTitleBar" >
            <meta-data android:name="pvr.vrshell.mode" android:value="1"/>
            <meta-data android:name="com.picovr.type" android:value="2D"/>
            <layout android:defaultHeight="50.0dip" android:defaultWidth="100.0dip"/>
            <meta-data android:name="pico.vr.position" android:value="near_dialog"/>
        </activity>
        <activity android:excludeFromRecents="true" android:exported="true" android:label="@string/app_name" android:launchMode="singleTask" android:name="com.dexilog.smartkeyboard.WrapperActivityNear" android:screenOrientation="landscape" android:theme="@android:style/Theme.Translucent.NoTitleBar" >
		<meta-data android:name="pvr.app.type" android:value="2d"/>
            <meta-data android:name="pvr.vrshell.mode" android:value="1"/>
            <meta-data android:name="com.picovr.type" android:value="2D"/>
            <layout android:defaultHeight="300px" android:defaultWidth="300px"/>
            <meta-data android:name="pico.vr.position" android:value="near"/>
        </activity>
        <activity android:excludeFromRecents="true" android:exported="true" android:label="@string/app_name" android:launchMode="singleTask" android:name="com.dexilog.smartkeyboard.WrapperActivityDialog" android:screenOrientation="landscape" android:theme="@android:style/Theme.Translucent.NoTitleBar" >
            <meta-data android:name="pvr.vrshell.mode" android:value="1"/>
            <meta-data android:name="com.picovr.type" android:value="2D"/>
            <layout android:defaultHeight="300px" android:defaultWidth="300px"/>
            <meta-data android:name="pico.vr.position" android:value="near_dialog"/>
		
        </activity>
        <activity android:excludeFromRecents="true" android:exported="true" android:label="@string/app_name" android:launchMode="singleTask" android:name="com.dexilog.smartkeyboard.WrapperActivityFar" android:screenOrientation="landscape" android:theme="@android:style/Theme.Translucent.NoTitleBar" >
            <meta-data android:name="pvr.vrshell.mode" android:value="1"/>
            <meta-data android:name="com.picovr.type" android:value="2D"/>
            <layout android:defaultHeight="300px" android:defaultWidth="300px"/>
            <meta-data android:name="pico.vr.position" android:value="far"/>
		
        </activity>
        <activity android:excludeFromRecents="true" android:exported="true" android:label="@string/app_name" android:launchMode="singleTask" android:name="com.dexilog.smartkeyboard.WrapperActivityFarDialog" android:screenOrientation="landscape" android:theme="@android:style/Theme.Translucent.NoTitleBar" >
            <meta-data android:name="pvr.vrshell.mode" android:value="1"/>
            <meta-data android:name="com.picovr.type" android:value="2D"/>
            <layout android:defaultHeight="300px" android:defaultWidth="300px"/>
            <meta-data android:name="pico.vr.position" android:value="far_dialog"/>
		
        </activity>
        <!-- does not steal focus, but still clickable, can be used for implementing input overlay with dummy IC -->
        <activity android:excludeFromRecents="true" android:exported="true" android:label="@string/app_name" android:launchMode="singleTask" android:name="com.dexilog.smartkeyboard.WrapperActivityVA" android:screenOrientation="landscape" android:theme="@android:style/Theme.Translucent.NoTitleBar" >
            <meta-data android:name="pvr.vrshell.mode" android:value="1"/>
            <meta-data android:name="com.picovr.type" android:value="2D"/>
            <layout android:defaultHeight="300px" android:defaultWidth="300px"/>
            <meta-data android:name="pico.vr.position" android:value="voice_assistant"/>
		
        </activity>
        <activity android:excludeFromRecents="true" android:exported="true" android:label="@string/app_name" android:launchMode="singleTask" android:name="com.dexilog.smartkeyboard.NotifyActivity" android:screenOrientation="landscape" android:theme="@android:style/Theme.Translucent.NoTitleBar" >
            <meta-data android:name="pvr.vrshell.mode" android:value="1"/>
            <meta-data android:name="com.picovr.type" android:value="2D"/>
            <layout android:defaultHeight="300px" android:defaultWidth="300px"/>
            <meta-data android:name="pico.vr.position" android:value="voice_assistant"/>
		
        </activity>

	</application>

</manifest> 
